<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Chọn số ghế</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/chonge.css">
  <link rel="stylesheet" href="./static/css/index.css" />
</head>

<body>
    <nav class="navbar">
        <a class="logo" href="#">Coxude Movie</a>
      
        <ul class="menu d-flex">
            <li class="nav-item active">
              <a class="nav-link" href="#">Bán Vé</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Trả Vé</a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quản Lý Lịch Chiếu</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Xem Thống Kê</a>
            </li>
        </ul>
    </nav>
    <main class="container">
      <div class="content-wrapper">
        <div class="content-header d-flex justify-content-between align-center mt-3">
          <h3>Chọn Ghế</h4>
          <button class="btn">Trở về</button>
        </div>
        <div class="table-cinema">
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">A</th>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                </tr>
                <tr>
                  <th scope="row">B</th>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                </tr>
                <tr>
                  <th scope="row">C</th>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                </tr>
                <tr>
                  <th scope="row">D</th>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                </tr>
                <tr>
                  <th scope="row">E</th>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                </tr>
              </tbody>
            </table>
  
            <div class="note d-flex mt-5 justify-content-center">
              <div class="note__item d-flex mr-5">
                <p class="mr-3 empty"></p><p>Ghế trống</p>
              </div>
              <div class="note__item d-flex mr-5">
                <p class="mr-3 note-empty"></p><p>Ghế đã đặt</p>
              </div>
              <div class="note__item d-flex mr-5">
                <p class="mr-3 picking"></p><p>Ghế đang chọn</p>
              </div>
              <button class="border btn px-3">
                <a href="#" class="text-light">Xác Nhận</a>
              </button>
            </div>
          </div>
        </div>
      </div>

    </main>
   
</body>

</html>